*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#app{
    
    margin:auto;
    text-align: center;
    align-content: center;
    border: .2px solid rgb(71, 71, 71);
    width: 360px;
    height: auto;
    border-radius: 10px;
    margin-top: 2rem;
}
/* handle clear btn */
.reset-btn{
    border:1px solid red;
    border-radius: 10px;
    font-size: 2rem;
    background: rgb(113, 228, 113);
    color: rgb(3, 2, 2);
    cursor: pointer;
}

/* header */
.app-header{
    background: rgb(235, 51, 27);
    font-size: 2rem;
    border-radius: 10px;
}

/* parentdiv */
.app-main-content{

}
/* //input box parent */
.content-input-box{
    padding: .5rem;
}
/* input box */
.content-input-box input{
    font-size: 3rem;
    width: 350px;
    border-radius: 5px;
    /* padding: .5rem; */
    font-family: 'Orbitron', sans-serif;
}
.content-input-box input:focus{
outline: none;
}
.content-result-description{
    font-weight: bolder;
    font-size: 1.5rem;
}
/* result box */
.content-result{
    border: .2px solid black;
    padding: .5rem;
    background: rgb(134, 128, 128,.5);
}
.content-result p{
    font-size: 2rem;
    color: blue;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    
}
/* buttons parent box */
.content-buttons{
    background: rgb(201, 196, 196,.7);
    padding: .5rem;
}
/* buttons row */
.content-buttons__row span{
    font-size: 4rem;
    border: 1px solid red;
    display: inline-block;
    width: 155px;
    margin: 5px;
    padding: .3rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(5, 4, 4);
}
.content-buttons__row span:hover{
   background: black;
   color: white;
   font-weight: bolder;
   transition: .7s;
}
/* footer */
.app-footer{
background: green;
font-size: 1rem;
border-radius: 10px;
color: white;
box-shadow: 4px 8px 12px rgb(10, 10, 10);
}
.app-footer a{
  color: rgb(0, 0, 0);
    }